<div class="page-header">
<h1>Hearthstone Crafting Aide</h1>
</div>

<form method="POST" action="/" id="signIn">
<label>User Name</label>
<input name="userName" id="uName" type="text"/>
<label>password</label>
<input name="password" id="uPass" type="password"/>
<button id="signButton" type="submit"  class="btn btn-primary">Sign In</button>
</form>

<form method="GET" action='/logout' id"logOut">
<button id="outButton" class="btn btn-primary" type="submit">Log Out </button>
</form>