<h1>Hearthstone Crafting Aide</h1>

<form method="POST" action="/" id="signIn">
<label>User Name</label>
<input name="userName" id="uName" type="text"/>
<label>password</label>
<input name="password" id="uPass" type="password"/>
<button id="signButton" type="submit">Sign In</button>
</form>

<form method="GET" action='/logout' id"logOut">
<button id="outButton" tpye="submit">Log Out </button>
</form>