<h1>Sign up </h1>

<form method="POST" id="signUp">
	<label>Username: </label>
	<input name="potUsername" type="text" />
	<label>Password: </label>
	<input name="potPassword" type="text" />
	<label>Confirm Password: </label>
	<input name="potPassword2" type="text" />
	<button id="signupSub" type="submit">Sign Up </button>
</form>